{{name}}

// Interpolation
<!-- {{expression}}-->
<p>{{user.name}}</p>
<p>{{user.age}}</p>

<input type="text" [value]="user.name"> //Document object model DOM

<!-- Bind dữ liệu là bind từ component class lên template-->
<!-- Tương tác từ template và muốn nhận sự kiện đó từ trong component sẽ gọi là event&binding-->
<button type="button" (click)="handle($event)" id="btnClickMe">ClickMe</button>
<!--const btn = document .querySelector('#btnClickMe');-->
<!--btn.addEventListener-->
<br>
<!--TWO WAY DATA BIDING-->
<input type="text" [(ngModel)]="name" (ngModelChange)="name = $event"/>



